<div class="klm-footer">
    <ng-container [ngTemplateOutlet]="listTemplate" [ngTemplateOutletContext]="{ list: footerNavArray }">
    </ng-container>
    <ng-container [ngTemplateOutlet]="listTemplate" [ngTemplateOutletContext]="{ list: legalNavArray }">
    </ng-container>
    <ng-template #listTemplate let-list="list">
        <nav>
            <mat-nav-list>
                <mat-list-item *ngFor="let link of list">
                    <a matLine [routerLink]="link.link">{{ link.label }}</a>
                </mat-list-item>
            </mat-nav-list>
        </nav>
      </ng-template>
</div>