<div class="klm-header__container">
    <div class="klm-header__top-header">
        <div class="klm-header__top-header__logo" [routerLink]="['']">
            <div class="klm-header__top-header__logo__left">
                <span></span>
            </div>
            <div class="klm-header__top-header__logo__right">
                <div class="klm-header__top-header__logo__right__login">
                    <mat-icon class="klm-header__top-header__logo__right__login__icon">account_circle</mat-icon><span>{{labelLogin}}</span>
                </div>
                <div class="klm-header__top-header__logo__right__sign-up">
                    <mat-icon class="klm-header__top-header__logo__right__sign-up__icon">group_add</mat-icon>
                    <span>{{labelSignUp}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="klm-header__bottom-header">
        <klm-navigation-menu></klm-navigation-menu>
    </div>

</div>