@import '../../../assets/styles/main';

.klm-sign-up {
    padding: 20px;
    &__container {
        padding: 20px;

        @include large-desktop {
            max-width: 75%;
            margin: 20px auto;
        }

        @include mobile {
            width: calc(100% - 40px);
            padding: 20px;
        }

        &__row-1 {
            display: flex;

            &__column-1 {
                flex: 1;

                &__form-field {
                    width: calc(100% - 20px);
                    padding: 10px;
                }
            }

            &__column-2 {
                flex: 1;

                &__form-field {
                    width: calc(100% - 20px);
                    padding: 10px;
                }
            }
        }

        &__row-2 {
            display: flex;

            &__column-1 {
                flex: 1;

                &__form-field {
                    width: calc(100% - 20px);
                    padding: 10px;
                }
            }

            &__column-2 {
                flex: 1;

                &__form-field {
                    width: calc(100% - 20px);
                    padding: 10px;
                }
            }
        }

        &__row-3 {
            display: flex;
            &__column-1 {
                flex: 1;

                &__form-field {
                    width: calc(100% - 20px);
                    padding: 10px;
                }
            }

            &__column-2 {
                flex: 1;

                &__form-field {
                    width: calc(100% - 20px);
                    padding: 10px;
                }
            }
        }

        &__row-4 {
            display: flex;
            float: right;
            &__column-1 {
                flex: 1;
            }
        }


        a {
            text-decoration: none;
            color: $primary-blue-color;
            padding: 20px 10px;
        }

        input[type=submit] {
            padding: 10px 20px;
            border-radius: 5px;
            outline: none;
            background-color: $primary-blue-color;
            color: $primary-white-color;
            font-size: $font-size-17;
            border: 1px solid $primary-blue-color;
            cursor: pointer;
            margin-right: 10px;
            &:disabled{
                opacity: 0.5;
            }
        }
    }
}